  .container-fluid {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
  background: #000;
  }
  .text-muted{
    margin: 0 auto;
    text-align: center;
  }
 